<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="../static/fontawesome-free-5.15.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>

<div class="file-upload">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.music }}

        <label for="music">
            <div class="navigation_bar">
                <div class="pint_mock_icon_container add_pin">
                    <img src="../static/pngs/add.png" alt="add_pin" class="pint_mock_icon">
                </div>
                <div id="file-chosen">No file choosen</div>
            </div>
        </label>
    </form>
</div>

<audio class="{{ song }}" src="../static/music/" id="audio"></audio>


<div style="margin-top: 100px;">

    {% for song in songs %}
    <div class="music-container" id="music-container">

      <!-- <audio class="{{ song }}" src="../static/music/{{ song }}" id="audio"></audio> -->
      <span class="{{ song }}" style="display: none;"></span>


      <div class="img-container">
        <i class="fas fa-music" id="small"></i>
      </div>

      <div class="music-info">
        <marquee id="title">{{ song }}</marquee>
      </div>

    <div class="navigation">
        <button id="prev" class="action-btn" style="display: none;">
          <i class="fas fa-backward"></i>
        </button>
        <button id="play" class="action-btn action-btn-big">
          <i class="fas fa-play"></i>
        </button>
        <button id="next" class="action-btn" style="display: none;">
          <i class="fas fa-forward"></i>
        </button>
    </div>

    <div class="progress-container" id="progress-container" style="display: none;">
      <div class="progress" id="progress"></div>
    </div>

    </div>

    {% endfor %}
</div>

    <script type="text/javascript" src="../static/layout.js"></script>
    <script src="../static/jquery.js"></script>

    <script type="text/javascript">
        const songs = {{ songs|safe }}
        console.log(songs)
    </script>

    <script src="../static/scripthome.js"></script>

</body>
</html>
