<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap4.4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fontawesome-free-5.15.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/layout/layout.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
    <script type="text/javascript" src="../static/bootstrap4.4/bootstrap.min.js"></script>
</body>
</html>
