<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discover Users</title>
    <link rel="stylesheet" href="../static/users/users.css" />
  </head>
  <body>
    <h2>Discover Users</h2>
    <div class="grid-container">
      <div class="grid-item">
        <img src="../static/users/20201028_194340.jpg" alt="Edilson" />
                            <div class="user_name"><b>Edilson Gudo</b></div>
                            <div class="user_ammount_of_songs">25 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
      <div class="grid-item">
        <img src="../static/users/a09TxL_1.jpg"/>
                            <div class="user_name"><b>Cristiano</b></div>
                            <div class="user_ammount_of_songs">19 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
      <div class="grid-item">
        <img src="../static/users/Alexis_Ren.jpg"/>
                            <div class="user_name"><b>Alexis Ren</b></div>
                            <div class="user_ammount_of_songs">14 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
      <div class="grid-item">
        <img src="../static/users/unnamed (1).jpg"/>
                            <div class="user_name"><b>Adam Hoewitz</b></div>
                            <div class="user_ammount_of_songs">11 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
      <div class="grid-item">
        <img src="../static/users/unnamed.jpg"/>
                            <div class="user_name"><b>Jay Alvarrez</b></div>
                            <div class="user_ammount_of_songs">10 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
      <div class="grid-item">
        <img src="../static/profile_pics/85ed1b444539873d.png"/>
                            <div class="user_name"><b>Corey Schaffer</b></div>
                            <div class="user_ammount_of_songs">13 Songs</div>
                            <a href="#" class="user_button">Profile</a>
      </div>
    </div>
  </body>
</html>
